* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .container {
    background-image: url(https://c1.wallpaperflare.com/path/565/385/156/sunset-brook-green-meadow-june-df867360f0bed19da26bbb3838498c8f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
  
  }
  .boards {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    padding: 100px;
    
  }
  .card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ebecf0;
    flex: 1;
    height: fit-content;
    border-radius: 10px;
    gap: 10px;
  }
  .header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px;
  }
  .listconatiner {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
  }
  #addbutton {
   border-radius: 10px;
   border: 0;
   padding: 10px;
   background-color: transparent;
   
  }
  .list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
  }
  .icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .details {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .btn {
    border: 0.1px solid black;
    border-radius: 50%;
    background-color: white;
    height: 24px;
    width: 24px;
  }
  .btn:hover {
    background-color: #ebecf0;
    cursor: pointer;
  }
  #addbutton:hover {
    background-color: #cccccc;
    cursor: pointer;
    border-radius: 10px;
  }
  .modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    background-color: #ffffff;
    top: 20%;
    right: 35%;
    border-radius: 10px;
    padding: 20px;
  }
  .fieldcontainer {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000080;
    display: none;
    
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    background-color: #00000080;
  }
  
  .form {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .title {
    display: flex;
    flex-direction: column;
  }
  .status {
    display: flex;
    flex-direction: column;
  }
  .priority {
    display: flex;
    flex-direction: column;
  }
  .endbutton {
    width: 368px;
    height: 40px;
    background-color: black;
    padding-bottom: 10px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
  }
  