* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .container {
    background-image: url(https://th.bing.com/th/id/R.4e556e8b60f19af5d4c39913a9578910?rik=w9HPvsX%2ffI4Ycw&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f9AJLABk.jpg&ehk=ng5aEVqFDf4N33afobCZIaz6ibTv8tYsGQ9WGEE728I%3d&risl=&pid=ImgRaw&r=0);
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
  
  }
  .boards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 100px;
    
  }
  .card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #CAEDFF;
    flex: 1;
    height: fit-content;
    border-radius: 10px;
    gap: 10px;
  }
  .header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px;
  }
  .listconatiner {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    display: block;
  }
  #addbutton {
   border-radius: 10px;
   border: 0;
   padding: 20px;
   background-color: transparent;
   width: 100%;
   
  }
  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #FFC7EA;
    border-radius: 10px;
    width: 100%;
  }
  .icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .details {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .btn1 {
    border: 0.1px solid #CAEDFf;
    border-radius: 50%;
    background-color: transparent;
    height: 24px;
    width: 24px;
  }
  .btn2 {
    border: 0.1px solid #CAEDFf;
    border-radius: 50%;
    background-color: transparent;
    height: 24px;
    width: 24px;
  }
  .btn3 {
    border: 0.1px solid #CAEDFf;
    border-radius: 50%;
    background-color: transparent;
    height: 24px;
    width: 24px;
  }
  .button{
    background-color: #CAEDFf;
    border: 0;
    border-radius: 10px;
    width: 140px;
    height: 30px;
  }
  .btn1:hover {
    background-color: #CAEDFf;
    cursor: pointer;
  }
  .btn2:hover {
    background-color: #CAEDFf;
    cursor: pointer;
  }
  .btn3:hover {
    background-color: #CAEDFf;
    cursor: pointer;
  }
  #addbutton:hover {
    background-color: #FFC7EA;
    cursor: pointer;
    border-radius: 10px;
  }
  .modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    background-color: #ffffff;
    top: 20%;
    right: 35%;
    border-radius: 10px;
    padding: 20px;
  }
  .fieldcontainer {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000080;
    display: none;
    
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    background-color: #00000080;
  }
  
  .form {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .title {
    display: flex;
    flex-direction: column;
  }
  .status {
    display: flex;
    flex-direction: column;
  }
  .priority {
    display: flex;
    flex-direction: column;
  }
  .endbutton {
    width: 368px;
    height: 40px;
    background-color: black;
    padding-bottom: 10px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
  }
  